@font-face {
    font-family: golos;
    src: url('fonts/golos-ui_bold.woff');
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}
h1{
    margin: 15px 0 15px 0;
}
h2{
    font-size: 48px;
}
.svg{
    width: 100px;
    display: flex;
    margin-bottom: 10px;
}
.table{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.element{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
iframe{
    border: 4px solid #42E042;
    border-radius: 10px;
}

span:not(.footer){
    font-weight: bold;
    font-size: 26px;
    font-family: golos, 'golos-ui_bold', cursive ;
}