footer{

	background-color: #007172;
    color:white;
	
  	padding: 10px 0 10px 0;
  	
	margin-top: 7%;

  	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
	box-shadow: 1px 1px 8px 0px;
}
.footer{
	width: 100%;
}