*{
    margin: 0;
    padding: 0;
  }

  body{
    background-color: #fff8f0;
  }
  
  header{
    height: 100px;
    background-color: #313131;
    color:white;
  }

  .links > a{
    text-decoration: none;
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
    transition: 0.3s;
  }

  .links > a:hover{
    background-color: orange;
  }

  .links{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 280px;
    justify-content: space-around;
    align-items: center;
  }


  .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }


  #logo{
    height: 95px;
  }

  .companyName{
    font-weight: bold;
    padding: 0;
    margin: 0;
    font-size: 18px;
  }

  .logo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .companyName > p{
    font-size: 14px;
    color: rgb(192, 191, 191);
  }

.firstP{
  margin-top: 30px;
}

@media (max-width: 524px){
  .menu, .links{
    flex-direction: column;
    width: 100%;
  }
  header{
    height: 100%;
  }
}

