@font-face {
    font-family: Literata;
    src: url("Literata-ExtraLight.woff");
}

main{
    margin-top: 20px;
}

h1{
    font-size: 24px;
}

span{
    width: 80%;
}

h1, span > div{
    display: inline !important;
}

.image img{
    height: 450px;
    width: 750px;
}
.image{
    padding-right: 20px;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tour{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.info{
    display: flex;
    flex-direction: column;
}

.info:not(h1){
    font-family: Literata, 'Comic Sans MS', cursive;
}

@media (max-width: 1280px){
	.tour{
        flex-direction: column;
    }
    .info{
        padding-left: 10px;
        justify-content: center;
    }
    span{
        width: 95%;
    }
}


@media (max-width: 768px){
    .image img{
        width: 95%;
        height: 100%;
    }
}


h2{
    color:seagreen;
    padding-left: 5px;
}

.price, .price1{
    display: inline;
}

.tour{
    margin-bottom: 30px;
}

.include{
    float: right;
}

.dlc{
    width: 23% !important;
    padding-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.byn, .euro{
    display: inline;
}