@import '../sass/dist/fonts.css';

main{
    margin-top: 20px;
}

h1{
    font-size: 20px;
}

.image img{
    height: 450px;
    width: 750px;
}
.image{
    padding-right: 20px;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tour{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.info{
    display: flex;
    flex-direction: column;
}

.info:not(h1){
    font-family: Literata, 'Comic Sans MS', cursive;
}

@media (max-width: 1280px){
	.tour{
        flex-direction: column;
    }
    .info{
        padding-left: 10px;
        justify-content: center;
    }
}


@media (max-width: 768px){
    .image img{
        width: 95%;
        height: 100%;
    }
}

@media (max-width: 524px){
    .dlcText{
        width: 80%;
    }
}

h2{
    color:#FFAC33;
    padding-left: 5px;
}

.price, .price1{
    display: inline;
}

.include{
    width: 20px;
    height: 20px;
    float: right;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius:25%;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    box-shadow: 1px 1px 6px 0px;
}

.include:checked:before{
    content: "✖";
}

#section{
    padding-left: 5px;
    width: auto;
}


#section > .dlc{
    width: 350px;
    padding-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.byn, .euro{
    display: inline;
}

.result{
    padding-left: 2%;
    width: auto !important;
}

.desc{
    width: 90%;
}

.dlcText{
    width: 100%;
}   

